<div class='col-xs-6'>
	<h2>Appointments</h2>
	<div class='col-xs-4'>
		Number: <input type='text' ng-model='number'>
	</div>
	<div class='col-xs-4'>
		Business: <input type='text' ng-model='business'>
	</div>
	<div class='col-xs-4'>
		Address: <input type='text' ng-model='address'>
	</div>
	<button ng-click='addAppointment()'>Add</button>
	<table class="table table-hover">
		<tr ng-repeat='appoint in appointments | limitTo: 5'>
			<td>{{appoint._id}}</td>
			<td>{{appoint.number}}</td>
			<td>{{appoint.business}}</td>
			<td>{{appoint.address}}</td>
			<td><button ng-click='takeAppointment(appoint._id)'>Take</button></td>
		</tr>
	</table>
</div>