#call-button {
    background-color: #2A8C55;
    color: #FFFFFF;
    text-align: center;
    font-weight: bold;
}

#hang-up-button {
    background-color: #A6142F;
   	color: #FFFFFF;
   	text-align: center;
   	font-weight: bold;
}

#call-status {
   	text-align: center;
   	font-weight: bold;
}